.views{
   width: 60vh;
    object-fit: contain;
   height: 40%;
}
.sviews{
    position: relative;
}
.viewscont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(3, 3, 62) ;
}
